/***** Global *****/

/*@import url("http://fonts.googleapis.com/css?family=Lato");*/

/* footer */

footer
{
    background-color:#015675;
    color: #ccddcd;
    text-rendering: optimizeLegibility;
    font-size: 90%;
}
footer ul {
    list-style: square outside none;
}
footer ul li {
    padding-bottom: .5em;
}
footer a {
    text-decoration: none;
    color: #fff;
}

#map-canvas-carrick {
    width: 500px;
    height: 400px;
}

#map-canvas-whitehead {
    width: 500px;
    height: 400px;
}
