---
layout: default
title: Weekly Bulletin
---
<article>{% assign parish = site.data.parish %}
    <h2>Weekly Bulletin - Parish of Carrickfergus &amp; Whitehead</h2>{% for file in site.static_files %}{% if file.path contains '/bulletins/' %}
    <section>{% assign fs = file.path | split: '-' %} {% assign d = file.path | date: "%-d" %}
        <h3>Week commencing Sunday {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %} {{ file.path | date: '%B' }} {{ file.path | date: '%Y' }}</h3>
        <h4>{{fs[3] | | remove: file.extname}}</h4>
        <img src="{{file.path}}" alt="Image of Weekly Bulletin" class="img-responsive" />
    </section>{% endif %}{% endfor %}
    <p>Parish Halls available for hire (Carrick &amp; Whitehead). Tel: {{parish.hallhire.telephone}}</p>
</article>

