<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <h2>Learn More</h2>
            <br />
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="words_of_wisdom.html">Words of Wisdom</a>
            <br />
            <br /><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="history.html">Parish History</a>
            <br />
            <br /><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="links.html">More Links</a>
            <br />
            <br /><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="old_website/index.htm">Old Website</a>
            <br />
            <br />
            <br />
        </div>
        <div class="col-md-4">
            <h2>Latest News</h2>
            <br />
            <a href="https://www.facebook.com/groups/CarrickfergusParish"><img src="images/facebook_circle_64.png" alt="Follow us on Facebook" style="padding-right:10px;" /></a>
            <a href="http://www.ucb.co.uk/word-for-today.html">
                <img src="http://www.ucb.co.uk/images/wftlogo14.png" alt="the Word for Today" width="80" height="49" />
                <br />
                <br />
                <br />
            </a>
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <br />
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;8 Minorca Place, Carrickfergus, <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Co. Antrim, BT38 8AU
            <br />
            <br />
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;028 9336 3269
            <br />
            <br />
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:pp_carrickparish@live.co.uk">pp_carrickparish@live.co.uk</a>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

