<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li><a href="mass_times.html">Mass Times</a></li>
                <li><a href="links.html">Links</a></li>
                <li><a href="http://www.carrickferguschurchforum.org">InterChurch</a></li>
                <li><a href="http://www.jesuit.ie/prayer/">Sacred Space</a></li>
                <li><a href="locations.html">Locations</a></li>
            </ul>
            <br />
        </div>
        <div class="col-md-2">
            <a href="https://www.facebook.com/groups/CarrickfergusParish"><img src="images/facebook_circle_64.png" alt="Follow us on Facebook" style="padding-right:10px;" /></a>
            <a href="http://www.ucb.co.uk/word-for-today.html">
                <img src="http://www.ucb.co.uk/images/wftlogo14.png" alt="the Word for Today" width="80" height="49" />
                <br />
                <br />
                <br />
            </a>
        </div>
        <div class="col-md-4">
            Parish Email: <a href="mailto:pp_carrickparish@live.co.uk">pp_carrickparish@live.co.uk</a>
            <br />For website matters only, email <a href="mailto:editor@carrickparish.org">editor@carrickparish.org</a>
            <br />And remember you can leave a comment on the Facebook page.
            <br />
        </div>
    </div>
</div>
