<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;<a href="words_of_wisdom.html">Words of Wisdom</a>
            <br /><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;<a href="history.html">Parish History</a>
            <br /><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;<a href="links.html">More Links</a>
            <br /><span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;<a href="old_website/index.htm">Old Website</a>
            <br />
            <br />
        </div>
        <div class="col-md-2">
            <a href="https://www.facebook.com/groups/CarrickfergusParish"><img src="images/facebook_circle_64.png" alt="Follow us on Facebook" style="padding-right:10px;" /></a>
            <a href="http://www.ucb.co.uk/word-for-today.html">
                <img src="http://www.ucb.co.uk/images/wftlogo14.png" alt="the Word for Today" width="80" height="49" />
                <br />
                <br />
                <br />
            </a>
        </div>
        <div class="col-md-4">
            Parish Email: <a href="mailto:pp_carrickparish@live.co.uk">pp_carrickparish@live.co.uk</a>
            <br />For website matters only, email <a href="mailto:editor@carrickparish.org">editor@carrickparish.org</a>
            <br />And remember you can leave a comment on the Facebook page.
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            {% assign parish = site.data.parish %}
            <p style="text-align:center;">Parish Halls available for hire (Carrickfergus &amp; Whitehead).<!-- Tel: {{parish.hallhire.telephone}}--></p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
