        <table>
            <caption>
                <h2>Mass Times</h2></caption>
            <tr>
                <td><b>St Nicholas' Church</b></td>
                <td><b>Our Lady of Lourdes</b></td>
            </tr>
            <tr>
                <td>CARRICKFERGUS</td>
                <td>WHITEHEAD</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>Sunday</td>
            </tr>
            <tr>
                <td>11:30am</td>
                <td>9:30am</td>
            </tr>
            <tr>
                <td>Vigil Mass Saturday 6pm</td>
                <td></td>
            </tr>
            <tr>
                <td>(No Sunday evening Mass)</td>
                <td>(No Saturday Vigil or Sunday evening Mass)</td>
            </tr>
            <tr>
                <td>Weekdays and Holy Days</td>
                <td>Weekdays and Holy Days</td>
            </tr>
            <tr>
                <td>(See <a href="bulletin.html">'this week'</a> page)</td>
                <td>(See <a href="bulletin.html">'this week'</a> page)</td>
            </tr>
                <tr>
                    <td colspan="2"><a href="prayers_for_mass.html">Prayers for Mass</a></td>
                </tr>
        </table>
