<h2>Mass Times</h2>
<div class="row">
    <div class="col-md-4">
        <h3>St Nicholas' Church</h3>
        <b>CARRICKFERGUS</b>
        <br />Sunday
        <br />11:30am
        <br />Vigil Mass Saturday 6pm
        <br />
        <br />(No Sunday evening Mass)
        <br />Weekdays and Holy Days
        <br />(See <a href="bulletin.html">'this week'</a> page)
    </div>
    <div class="col-md-4">
        <h3>Our Lady of Lourdes</h3>
        <b>WHITEHEAD</b>
        <br />Sunday
        <br />9:00am
        <br />
        <br />
        <br />(No Saturday Vigil or Sunday evening Mass)
        <br />Weekdays and Holy Days
        <br />(See <a href="bulletin.html">'this week'</a> page)
    </div>
</div>

