<div class="row">
    <div class="col-md-3">
        <h3>St Nicholas' Church</h3>
        <h4>CARRICKFERGUS</h4>Vigil Mass Saturday 6:00pm
        <br />Sunday 11:30am
        <br />
        <br />(No Sunday evening Mass)
    </div>
    <div class="col-md-2">
        <br />
        <img src="images/Carrick1.jpg" alt="Carrickfergus" height="125" width="182" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h3>Our Lady of Lourdes</h3>
        <h4>WHITEHEAD</h4> Sunday 9:00am
        <br />
        <br />(No Saturday Vigil or Sunday evening Mass)
        <br />
    </div>
    <div class="col-md-2">
        <br />
        <img src="images/Whead1.jpg" alt="Whitehaed" height="125" width="182" />
    </div>
    <div class="col-md-1"></div>
</div>
