<!-- Modal -->
<div class="modal fade" id="modal_mission_quotes" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mission</h4>
            </div>
            <div class="modal-body">
                <blockquote class=".">
                    <p><em><strong>&quot;No Christian community is faithful to its mission unless it is missionary. Either it is a missionary community or it is not even a Christian community.&quot;</strong></em>
                    </p>
                    <footer>(<cite title="John Paul II">John Paul II</cite> Redempt. Miss.)</footer>
                </blockquote>
                <blockquote class=".">
                    <p><em><strong>&quot;The entire mission of the Church is concentrated and manifested in Evangelisation.&quot;</strong></em>
                    </p>
                    <footer>(<cite title="John Paul II">John Paul II</cite> Christifideles Laici)</footer>
                </blockquote>
                <blockquote class=".">
                    <p><em><strong>&quot;The Church exists to evangelise.&quot;</strong></em>
                    </p>
                    <footer>(<cite title="Paul VI">Paul VI</cite> Evang. Nunc.)</footer>
                </blockquote>
                <blockquote class=".">
                    <p><em><strong>&quot;The Church becomes at one and the same time an Evangelising and Evangelised community.&quot;</strong></em>
                    </p>
                    <footer>(<cite title="John Paul II">John Paul II</cite> Christifideles Laici)</footer>
                </blockquote>
                <blockquote class=".">
                    <p><em><strong>&quot;Communion gives rise to Mission and Mission is fufilled in Communion.&quot;</strong></em>
                    </p>
                    <footer>(<cite title="John Paul II">John Paul II</cite> Christifideles Laici)</footer>
                </blockquote>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
