<!-- Modal -->
<div class="modal fade" id="modal_i_am_the_vine" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">I am the Vine</h4>
            </div>
            <div class="modal-body">
                <blockquote class=".">
                    <p><em><strong>&quot;I am the vine; you are the branches.<br />
                    If you remain in me and I in you,<br />
                    you will bear much fruit;<br />
                    apart from me you can do nothing.&quot;</strong></em>
                    </p>
                    <footer>(Words of <cite title="Jesus">Jesus</cite> recorded in John's Gospel, chapter 15)</footer>
                </blockquote>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
