<!-- Modal -->
<div class="modal fade" id="modal_mass_times" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Mass Times</h2>
            </div>
            <div class="modal-body">
                <article>
                    <h4>Weekdays and Holy Days</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <h3>St Nicholas' Church</h3>
                            <h4>CARRICKFERGUS</h4>Vigil Mass Saturday 6:00pm
                            <br />Sunday 11:30am
                            <br />
                            <br />(No Sunday evening Mass)
                        </div>
                        <div class="col-md-2">
                            <br />
                            <img src="images/Carrick1.jpg" alt="Carrickfergus" height="125" width="182" />
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <h3>Our Lady of Lourdes</h3>
                            <h4>WHITEHEAD</h4> Sunday 9:00am
                            <br />
                            <br />(No Saturday Vigil or Sunday evening Mass)
                            <br />
                        </div>
                        <div class="col-md-2">
                            <br />
                            <img src="images/Whead1.jpg" alt="Whitehaed" height="125" width="182" />
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br />
                    <a href="prayers_for_mass.html" style="color:aliceblue;text-decoration:underline;">Prayers for Mass</a><br />
                    <a href="why_come_to_mass.html" style="color:aliceblue;text-decoration:underline;">Why come to Mass?</a><br />
                    <a href="eucharist.html" style="color:aliceblue;text-decoration:underline;">Eucharist</a>
                </article>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
